/* ForgotPassword.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("C:\Users\SITHIK\OneDrive\Desktop\ChessChampion\src\assets\hassan-pasha-nEbMedmVwgw-unsplash.jpg") no-repeat;
    background-size: cover;
    background-image: center;
  }
  
  .forgot-password-container {
    width: 400px; 
    padding: 20px; 
    background : transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
  }
  
  .forgot-password-container h2 {
    margin-bottom: 20px; /* Add spacing */
    text-align: center; /* Align text center */
    color: black;
  }
  
  .form-group {
    margin-bottom: 15px; /* Add spacing */
  }
  
  .form-group label {
    display: block; /* Make label block level */
    margin-bottom: 5px; /* Add spacing */
    color: black;
  }
  
  .form-group input {
    width: 380px; /* Set width */
    padding: 10px; /* Add padding */
    font-size: 16px; /* Set font size */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
  }
  
  button[type="submit"] {
    width: 100%; /* Set width */
    padding: 10px; /* Add padding */
    background-color: #197b35; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
  }
  
  button[type="submit"]:hover {
    background-color: #11841b; /* Change background color on hover */
  }
  